<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <h1>
      Search
      <img
        src="./assets/images/loader.svg"
        *ngIf="isSubmited || loading"
        width="50"
        height="50"
      />
      <span *ngIf="images.length > 0">Found {{ images.length }} Records</span>
    </h1>

    <div class="uk-grid">
      <div>
        <label>Filter By Category</label>
        <select class="uk-select" #categoryInput>
          <option value="all">All</option>
          <option *ngFor="let item of categories" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div>
        <label>Search By Title or tag</label>
        <input
          class="uk-input"
          #searchTitleInput
          placeholder="search by keyword, title or tag"
        />
      </div>
      <div>
        <label></label>
        <br />
        <button
          (click)="getImages(categoryInput.value, searchTitleInput.value)"
          class="uk-button uk-button-primary"
          [disabled]="isSubmited"
        >
          Search
          <img
            src="./assets/images/loader.svg"
            *ngIf="isSubmited"
            width="50"
            height="50"
          />
        </button>
      </div>
    </div>

    <div class="uk-grid">
      <div
        class="uk-child-width-1-2@s uk-child-width-1-3@m"
        uk-grid="masonry: true"
      >
        <app-image-card *ngFor="let i of images" [image]="i"></app-image-card>
      </div>
    </div>
  </div>
</div>
