
  <div class="bg-white" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <div class="uk-container uk-container-expand">
      <nav class="" uk-navbar>
        <a class="uk-navbar-toggle uk-hidden@s" uk-toggle  href="#offcanvas-nav">
          <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left"></span>
      </a>
      <a href="" class="uk-navbar-item uk-logo logo-text"> ImageXAfrica</a>


        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav uk-visible@s">
              <li>
                <a href="#">Categories</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Children</a></li>
                        <li><a href="#">Festivals</a></li>
                        <li><a href="#">Love</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">More</a></li>
                    </ul>
                </div>
            </li>
                <li >
                  <a href="#">Explore</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a routerLink="africa-map">Africa Map</a></li>
                        <li ><a routerLink="world-map">World Map</a></li>
                        <li>   <a href="#">Loved by many</a></li>
                        <li>  <a href="#">Photos by colors</a></li>
                        <li>   <a href="#">By Region</a></li>

                    </ul>
                </div>
                </li>
                 <li > <a href="#modal-auth"  *ngIf='(isSignedIn$ | async) == false' uk-toggle>Signin</a> </li>
                  <!-- <li> <a href="#">Sign up</a> </li> -->
            </ul>
            <div class="uk-nav-bar-item  uk-visible@s">
              <a routerLink='/upload' class="uk-button uk-button-primary uk-button-small" >upload</a>
              <!-- <a routerLink='/upload' class="uk-button uk-button-primary uk-button-small" >{{isSignedIn}}</a> -->
            </div>
              <ul *ngIf='isSignedIn$ | async'  class="uk-navbar-nav">
                <li>
                    <a href="#">
                      <img class="uk-border-circle" src="./assets/images/ART_IN_AFRICA.jpg" width="50" height="50">
                    </a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a routerLink="mycollection">My Collections</a></li>
                            <li><a routerLink='/myuploads'>My Uploads</a></li>
                            <li><a href="#">My Profile</a></li>
                            <li><a (click)='logout()'>Logout</a></li>
                        </ul>
                    </div>
                </li>

            </ul>


        </div>

        <div id="offcanvas-nav" uk-offcanvas="overlay: true">
          <div class="uk-offcanvas-bar text-dark bg-white">

              <ul class="uk-nav uk-nav-parent-icon" uk-nav>
                <li class="uk-parent">
                  <a href="#" >Categories</a>

                      <ul class="uk-nav-sub">

                          <li><a href="#">Festivals</a></li>
                          <li><a href="#">Love</a></li>
                          <li><a href="#">People</a></li>
                          <li><a href="#">More</a></li>
                      </ul>

              </li>
                  <li class="uk-parent" >
                    <a href="#">Explore</a>

                      <ul lass="uk-nav-sub">
                        <li class="uk-active"><a routerLink="africa-map">Africa Map</a></li>
                        <li ><a routerLink="world-map">World Map</a></li>
                        <li>   <a href="#">Loved by many</a></li>
                        <li>  <a href="#">Photos by colors</a></li>
                        <li>   <a href="#">By Region</a></li>
                      </ul>

                  </li>
                  <li>  <a routerLink='/upload' class="uk-button uk-button-primary uk-button-small" >upload</a></li>
                    <li *ngIf='(isSignedIn$ | async) == false' > <a href="#modal-auth" uk-toggle>Signin</a> </li>

              </ul>

          </div>
      </div>
      </nav>
    </div>

  </div>


