<div id="modal-auth" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>

  <div class="uk-cover-container" uk-height-viewport style="overflow: auto !important;">

    <img src="./assets/images/bg.jpg" alt="" uk-cover>

    <div class="backgound-gradient uk-position-cover">

  </div>


  <div class="uk-flex uk-flex-center">
    <div class="uk-width-medium@s uk-width-1-2@m backgound-light-transparent" style="position: absolute; top:10%;">
      <div class="uk-padding-small">
        <ul class="uk-child-width-expand" uk-tab>
            <li class="uk-active" class="link-header"><a href="#">Login</a></li>
            <li><a href="#" class="link-header">Sign up</a></li>

        </ul>
        <ul class="uk-switcher" style="overflow: auto;">
          <li>
                <!-- Login Component -->
               <app-login></app-login>
          </li>
          <li>
            <!-- Sign up component -->
            <app-register></app-register>

          </li>
        </ul>
        <a class="text-style-1" routerLink="/forget-password" onclick="UIkit.modal('#modal-auth').hide()">  Forget Password</a> | <a class="text-style-1 text-gray" onclick="UIkit.modal('#modal-auth').hide()"  >Home</a>
    </div>
    </div>
  </div>
</div>
  </div>
</div>

<ngx-ui-loader [loaderId]="'loader-01'" text="loading please wait ... "></ngx-ui-loader>

