<div class="uk-cover-container" uk-height-viewport style="overflow: auto !important;">

    <img src="./assets/images/tree.jpg" alt="" uk-cover>
  
    <div class="backgound-gradient uk-position-cover">

        <div class="uk-margin-left uk-margin-right">
            
           </div>
            <div class="uk-width-medium@s uk-card uk-border-rounded uk-card-default uk-margin-auto uk-width-1-2@m " style="margin-top:15%;">
              <div class="uk-padding-small" >
               <!-- <img src="./assets/images/lock.png" class="uk-align-center" alt="" width="50" height="50">    -->
               <h1 class="uk-text-center">Reset Password</h1>
                   
               <form class="uk-form-stacked" [formGroup]="form" (ngSubmit)="submit()">

                <div class="uk-margin ">
                    <label class="uk-form-label" for="form-stacked-text">Enter New Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded " 
                        formControlName = "password"
                        id="form-stacked-text" 
                        type="password" 
                        placeholder="Enter password"
                        required>
                        <div *ngIf="f.password.touched && f.password.invalid" class="uk-alert-danger">
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-password">Confirm New Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded" 
                        formControlName = "confirm_password"
                        id="form-stacked-password" 
                        type="password" 
                        placeholder="Confirm password"
                        required>
                        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="uk-alert-danger">
                            <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-form-controls">
                      <button class="uk-button uk-button-primary uk-align-center" type="submit" [disabled]="!form.valid">Reset Password</button>
                    </div>
                </div>
            </form>
               
          
               <!-- <a class="text-style-1" [routerLink]="['/']" [queryParams]= "{showSigin:true}"> Back to Signin</a> |
               <a class="text-style-1 text-gray" routerLink="/"> Home</a> -->
            </div>
            </div>
          </div>
  </div>