<div class="uk-cover-container" uk-height-viewport style="overflow: auto !important;">

    <img src="./assets/images/tree.jpg" alt="" uk-cover>
  
    <div class="backgound-gradient uk-position-cover">

        <div class="uk-margin-left uk-margin-right">
            
           </div>
            <div class="uk-width-medium@s uk-card uk-card-default uk-margin-auto uk-width-1-2@m " style="margin-top:15%;">
              <div class="uk-padding-large" >
               <img src="./assets/images/lock.png" class="uk-align-center" alt="" width="50" height="50">   
               <h1 class="uk-text-center">Forgot Your password?</h1>
               <p class="uk-text-center">Click on this link below to reset it <span uk-icon="icon: arrow-dowm"></span></p>
               <div class="uk-text-center">
                  <button class="uk-button uk-button-primary" type="submit" >Send reset link</button>
                 
                 <br>
          
          
               </div>
          
               <!-- <a class="text-style-1" [routerLink]="['/']" [queryParams]= "{showSigin:true}"> Back to Signin</a> |
               <a class="text-style-1 text-gray" routerLink="/"> Home</a> -->
            </div>
            </div>
          </div>
  </div>