<div class="uk-inline uk-transition-toggle" tabindex="0">
  <img data-src="{{image.imageUrl}}" width=""  class="uk-border-rounded" height="" alt="" uk-img>
  <div class="uk-overlay uk-overlay-primary  uk-position-bottom uk-transition-fade" style="padding:15px">
    <div class="uk-clearfix">
      <a class="uk-float-left" >
        <img src="./assets/images/ART_IN_AFRICA.jpg"  width="40" class="uk-border-circle" ></a>
          <div uk-drop="pos: top-center">
              <div class="uk-card uk-card-body uk-card-default uk-padding-small">

                 <div class="clearfix">
                  <img src="./assets/images/ART_IN_AFRICA.jpg"  class="uk-float-left" width="50" class="uk-border-circle" >
                  <span class="uk-float-right text-style-1" > James calus
                    <br>
                    <span style="font-size: 0.8rem;"> <i class="fa fa-eye" ></i> 10.5k</span>
                  </span>

                </div>

                <button mat-raised-button color="primary" class="uk-margin"> Follow</button>
              </div>
          </div>
         <p class="uk-overflow-hidden uk-float-right">James Thomas</p>
      </div>
    <div class="uk-clearfix">
      <div class="uk-float-left uk-inline">
     <span style="font-size: 0.8rem;"> <i class="fa fa-eye" ></i> 4.5k</span>
      </div>
      <div class="uk-float-right">
        <ul class="uk-iconnav">
          <li><a href="#" class="uk-margin-small-right" uk-icon="icon: plus"></a></li>
          <li>
            <a href="#" class="uk-margin-small-right" uk-icon="icon: heart"></a>
          </li>
          <li><a href="#" uk-icon="icon: download"></a></li>

      </ul>
      </div>
  </div>
  </div>
</div>

