<!-- image cover -->

  <!-- <div class="uk-cover-container">
    <img src="https://source.unsplash.com/random/1600x700?africa,africans,nature,wild,life" alt="" uk-height-viewport uk-cover>

  </div> -->

  <div class="uk-cover-container" uk-height-viewport>

      <!-- <img src="./assets/images/bg.jpg" alt="" uk-cover> -->
      <img data-src="https://source.unsplash.com/random/1500x900?africa" alt="" uk-img uk-cover>
      <div class="backgound-gradient uk-position-cover"></div>

    <div class="uk-margin-auto uk-width-1-2@m uk-card uk-padding" style="margin-top: 10%" >
      <h1 class="hero-text">Discover Africa, Feel the Impact of Africa</h1>

         <div class="uk-inline uk-width-expand uk-box-shadow-xlarge">
           <span class="uk-form-icon" uk-icon="icon: search"></span>
           <input class="uk-input hero-input" placeholder="Search for photos">
          </div>
    </div>
</div>

<app-image></app-image>


