<div id="modal-auth" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
      <!-- <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
          <div class="uk-background-cover" style="background-image: url('images/photo.jpg');" uk-height-viewport></div>
          <div class="uk-padding-large">
              <h1>Headline</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div> -->

  <div class="uk-cover-container" uk-height-viewport>

    <img src="./assets/images/bg.jpg" alt="" uk-cover>

    <div class="backgound-gradient uk-position-cover">

  </div>

  <!-- <div class="uk-flex uk-flex-center">
    <div class="uk-margin-auto uk-margin-auto-vertical  uk-card uk-width-1-2 uk-card-default uk-card-body">
         <div class="uk-inline uk-width-expand">
           <span class="uk-form-icon" uk-icon="icon: search"></span>
           <input class="uk-input" >
         </div>
    </div>
  </div> -->
  <div class="uk-flex uk-flex-center" uk-grid>
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-medium@s uk-width-1-2@m backgound-light-transparent" style="position: absolute; top:20%;">
      <div class="uk-padding-small">
        <ul class="uk-child-width-expand" uk-tab>
            <li class="uk-active" class="link-header"><a href="#">Login</a></li>
            <li><a href="#" class="link-header">Sign up</a></li>

        </ul>
        <ul class="uk-switcher">
          <li>
                <!-- Login Component -->
               <app-login></app-login>
          </li>
          <li>
            <!-- Sign up component -->
            <app-register></app-register>

          </li>
        </ul>
    </div>
    </div>
  </div>
</div>
  </div>
</div>
